@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
}

blockquote header p,
[epub|type~="z3998:postscript"],
[epub|type~="z3998:recipient"] + p{
	text-indent: 0;
}
